.login-form-container {
    width: 100rem;


}

.logo-font {
    font-family: 'Fira Code', monospace;
    font-size: 2rem;
}

.logo-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 123px;

    .lumel-logo {
        width: 60px;
        height: 30px;
    }
}