@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

.main{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  height: calc(100vh - 64px);
  gap:8px
}

.content{
  width: 97%;
  height: 100%;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.editorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.pane1 {
  background-color: white;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.pane2 {
  margin-left: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
}

.pane3 {
  padding: 0.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: small;
  font-weight: 500;
}
