:root {
    --lumel-brand-color: #f76919;
}

.main-layout {
    min-height: 100vh;
}

.main-container:not(.full-page) {
    overflow-y: scroll;
    max-height: calc(100vh - 65px);
    padding: '0 50px'
}

.wmde-markdown {
    font-size: 14px !important;
}

.container {
    height: 100%;
    padding: 0 3rem;
}

.flex-container {
    display: flex;
}

.flex-container.justify-between {
    justify-content: space-between;
}

.flex-container.align-center {
    align-items: center;
}

.flex-container.row {
    flex-direction: row;
}

.flex-container.column {
    flex-direction: column;
}