:root {
    --lumel-brand-color: #f76919;
  }

.main-layout{
    min-height: 100vh;
}

.main-container{
    overflow-y: scroll;
    max-height: calc(100vh - 65px);
    padding: '0 50px'
}

.wmde-markdown{
    font-size: 14px !important;
}

.container {
    height: 100%;
    padding: 0 50px;
}